<% configTmpl({
  url: '/about',
  title: 'About'
}); %>

<%- include('../partials/header'); %>

    <div class="container">

      <h2>About</h2>

    </div><!-- /.container -->

<%- include('../partials/footer'); %>
