<% configTmpl({
  url: '/contact',
  title: 'Contact'
}); %>

<%- include('../partials/header'); %>

    <div class="container">

      <h2>Contact</h2>

    </div><!-- /.container -->

<%- include('../partials/footer'); %>
