<li<% if (tmpl().url === '/') { %> class="active"<% } %>><a href="/">Home</a></li>
<li<% if (tmpl().url === '/about') { %> class="active"<% } %>><a href="/about">About</a></li>
<li<% if (tmpl().url === '/contact') { %> class="active"<% } %>><a href="/contact">Contact</a></li>
